@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#container {
    background-color: #008080;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.logo img {
    float: left;
    padding: 0;
    margin: 2px 0 -10px 0;
    width: 10%;
}

.brand {
    float: left;
    font-size: xx-large;
    margin: 40px auto;
}

.form-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-card img {
    display: block;
    align-items: center;
    width: 10%;
}

.card {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 550px;
}

.input-card {
    margin: 5px 0;
    padding: 3px 15px;
    text-align: center;
}

.input-card span {
    display: block;
    text-align: left;
    margin: 0;
    font-size: 12px;
}

input {
    height: 40px;
    border-radius: 5px;
}

textarea {
    width: 441px;
    height: 83px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: #f8f8f8;
    resize: none;
}

#submit-btn {
    margin: 10px 7px;
    padding: 0;
    text-align: right;
}