<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/css/styles.css}">
    <title>E-Book Form</title>
</head>

<body>
    <nav class="header">
        <div id="container">
            <div class="logo">
                <img th:src="@{/images/ebook.png}"/>

                <span class="brand">Amny.inc E-book Store</span>
            </div>
        </div>
    </nav>

    <div class="form-container">
        <form method="POST" th:action="@{/ebook}" th:object="${ebook}" enctype="multipart/form-data">
            <div class="card">
                <div class="img-card">
                    <img th:src="@{/images/ebook.png}">
                </div>
                <div class="input-card">
                    <span th:if="${#fields.hasErrors('authorsName')}"
                          th:errors="*{authorsName}">Error in authors name</span>
                    <input type="text" th:field="*{authorsName}" placeholder="Author's Name">

                    <span th:if="${#fields.hasErrors('title')}"
                          th:errors="*{title}">Error found in title</span>
                    <input type="text" th:field="*{title}" placeholder="Book Title">
                </div>

                <div class="input-card">
                    <span>Document source (Optional)</span>
                    <input type="text" th:field="*{docSource}">

                    <span th:if="${#fields.hasErrors('isbn')}"
                          th:errors="*{isbn}">Book ISBN error</span>
                    <input type="text" th:field="*{isbn}">
                </div>

                <div class="file-upload">
                    <span>Select E-book to upload</span>
                    <input type="file" name="document" required><br/>

                    <span>Select E-book cover</span>
                    <input type="file" name="bookCover" required>
                </div>

                <div class="input-card">
                    <span th:if="${#fields.hasErrors('description')}"
                          th:errors="*{description}">Proper description is required</span>
                    <textarea th:field="*{description}"></textarea>
                </div>
                <div id="submit-btn">
                    <input type="submit" value="Register">
                </div>
            </div>
        </form>
    </div>
</body>
</html>